* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(222, 249, 167);
  section {
    margin-top: 2rem;
    margin-bottom: 2rem;
    .class__h1 {
      color: blue;
      text-align: center;
      font-size: 3rem;
    }
    .class__img {
      margin-top: 3rem;
      margin-bottom: 3rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
